{% extends 'main.html' %}

{% block title %}
Create Item - Todo List
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Create a new item</h1>
        <form method="post">
            {% csrf_token %}
            {{ create_item.as_p }}
            <button>Submit</button>
        </form>
    </div>
</main>
{% endblock content %}
