{% extends 'main.html' %}

{% block title %}
{{show_list.name}} - Todo List
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>{{ show_list.name }}</h1>
        <div>
            <p>
                <a href="{% url 'todo_list_update' show_list.id %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' show_list.id %}">Delete</a>
            </p>
        </div>
        <h2>Tasks</h2>
        <table>
            <thead>
                <th>Task</th>
                <th>Due Date</th>
            </thead>
            <tbody>
                {% for task in show_list.items.all %}
                <tr>
                    <td>
                        <a href="{% url 'todo_item_update' task.id %}">{{ task.task }}</a>
                    </td>
                    <td>
                        {{ task.due_date }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock content %}
