{% block title %}
Edit - Todo List
{% endblock title %}

{% block content %}
<main>
    <div>
        <h1>Update list: {{list.name}}</h1>
        <form method="post">
            {% csrf_token %}
            {{ update_form.as_p }}
            <button>Update</button>
        </form>
    </div>
</main>
{% endblock content %}
